/* homepage.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f5f7fa;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 60px; /* Ensure space above the footer */
}

.header {
    color: slategray;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.header-title {
    font-size: 1.8em;
    font-weight: 700;
}

.sidebar {
    width: 43px;
    background-color: slategrey;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center; /* Center items horizontally */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    position: relative;
}

.sidebar ul li a {
    display: flex;
    flex-direction: column; /* Align icon and text vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative; /* Position for the tooltip */
}

.sidebar ul li a:hover,
.sidebar ul li a:focus {
    background-color: darkslategray;
}

.sidebar ul li a .icon {
    font-size: 1.2em;
    margin-bottom: 5px; /* Space between icon and text */
}

.sidebar ul li a .text {
    display: none; /* Hide the text */
}

.sidebar ul li a:hover .text {
    display: block;
    position: absolute;
    left: 50px; /* Position to the right of the sidebar */
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    transition: opacity 0.3s;
    opacity: 1; /* Show the tooltip */
}

.sidebar ul li a .text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px; /* Position the triangle arrow */
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent; /* Arrow color */
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 60px; /* Adjust margin to accommodate the sidebar */
    padding: 69px;
}

.tile {
    background: white;
    width: calc(33% - 40px);
    margin: 25px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Ensure content is in a column layout */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 200px; /* Set a fixed height for the tiles */
}

.tile h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}
.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.tile h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer {
    background-color: slategray;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999; /* Ensure footer stays above other content */
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
